--
-- PostgreSQL database dump
--

\restrict Avdxjn7G5K7phSuEikzd1JysNJIxfRYqalebsFkVGDqbgPpkrlSlqcNdUnS2Yz5

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.poop DROP CONSTRAINT IF EXISTS poop_pkey;
ALTER TABLE IF EXISTS public.poop ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.poop_id_seq;
DROP TABLE IF EXISTS public.poop;
DROP SCHEMA IF EXISTS public;
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: poop; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.poop (
    id bigint NOT NULL,
    firstname character varying(80),
    lastname character varying(80),
    column1 integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    column2 integer,
    column3 integer,
    column4 integer,
    column5 integer,
    column6 integer,
    column7 integer,
    column8 integer,
    column9 integer,
    column10 integer,
    column11 integer,
    column12 integer
);


--
-- Name: poop_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.poop_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: poop_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.poop_id_seq OWNED BY public.poop.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text,
    password_hash text,
    credits integer
);


--
-- Name: poop id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.poop ALTER COLUMN id SET DEFAULT nextval('public.poop_id_seq'::regclass);


--
-- Data for Name: poop; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, email, password_hash, credits) FROM stdin;
f06b2171-e794-41fd-a04b-331fe65a6499	a@x.com	pass	142
\.


--
-- Name: poop_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.poop_id_seq', 101, true);


--
-- Name: poop poop_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.poop
    ADD CONSTRAINT poop_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict Avdxjn7G5K7phSuEikzd1JysNJIxfRYqalebsFkVGDqbgPpkrlSlqcNdUnS2Yz5

